#week 1 - python basics

In [3]:
#print a message

print('Hello world!') #print statement is a output statement of python

Hello world!

In [9]:
# this is a single line comment

print('this is a print statement')

'''
This is a multiline
comment
'''

print('this is a second print statement')

this is a print statement
this is a second print statement

In [11]:
# Demonstrate variables and datatypes

x = 10 #x is called a variable

print('The value of x : ', x)

#the properties of values are: name , value , type

print('The datatype of x :', type(x))

The value of x :  10
The datatype of x : <class 'int'>

In [15]:
#Number , string,  booolean

#numeric data types of python : int, float , complex

print(x)

x = 20.456 # float value

print('The new value of x : ', x)
print('The new type of x : ', type(x))

20.456
The new value of x :  20.456
The new type of x :  <class 'float'>

In [16]:
y = 4 + 8j #complex number 4+8j

print('The new value of y : ', y)
print('The new type of y : ', type(y))

The new value of y :  (4+8j)
The new type of y :  <class 'complex'>

In [2]:
##Strings

In [5]:
str1='welcome to python programming'

print('the string str1 is :', str1 )

the string str1 is : welcome to python programming

In [6]:
str2 = 'welcome to strings in python'

print('the string str2 is :', str2)

the string str2 is : welcome to strings in python

In [12]:
str3 = '''
Welcome to multi line strings
dawg
'''

print('the string str3 is:', str3)

print('the datatypes of str1, str2 and str3 are :', type(str1), type(str2), type(str3))

the string str3 is:
Welcome to multi line strings
dawg

the datatypes of str1, str2 and str3 are : <class 'str'> <class 'str'> <class 'str'>

#Bool datatype

In [16]:
flag = True

print('The value of flag is: ', flag)
print('the datatype of flag is ', type(flag))

The value of flag is:  True
the datatype of flag is  <class 'bool'>

In [18]:
flag = False

print('the changed value of flag is ', flag)

the changed value of flag is  False

Arithmetic operators

In [19]:
x = 10

print('the value of x is =', x)

x = x + 2; #addition operator
print('the value of x after adding 2 is ', x)

the value of x is = 10
the value of x after adding 2 is  12

In [20]:
y = 3;

z = x - y; #minus operator
print('The value of z is ', z, 'the datatype of z is', type(z))

The value of z is  9 the datatype of z is <class 'int'>

In [23]:
y = y * 2; #multiplication operator

print('value of y after multiplication is ', y)

value of y after multiplication is  24

In [26]:
z = x / 5 #division operator

print('value of z after division is', z)
print('the datatype of z is', type(z))

value of z after division is 2.4
the datatype of z is <class 'float'>

In [30]:
y = x // 5 #Integer division

print('The value of x is ', x)
print('The value of y is ', y)
print('the datatype of y is ', type(y))

The value of x is  12
The value of y is  2
the datatype of y is  <class 'int'>

In [35]:
x = 13

z = x % 2 #the modulo operator

print('z is ',z)

y = 17

k = y % 5
print('k is ',k)

z is  1
k is  2

In [37]:
x = 2

y = 3

z = x ** y #exponentiation operator

print('z -', z)

z - 8

In [39]:
# Expressions
a=1
b=2
a + b # a and b are operands, and + is binary operator

3

Unary operator

In [40]:
# unary minus operator

x = 10

y = -x

print('x is ', x, 'and y is', y)

x is  10 and y is -10